body{
    background-image: url(gym.jpeg);
   
}

div{
    opacity: 0.9;
      
}

font{
    margin-top: 100px;
    color:white;
    margin-left: 300px;
/*    background-color: black;*/
    
}

h2{
   margin-left: 100px;
/*    color:cornsilk;*/
    
    background-blend-mode: color;
}
h3{
    margin-left: 0px;
    margin-top: 700px;
    background-color: black;
}


divx{
    align-content:flex-end
}
img{
   
    margin-left: 100px;
    
}
x{
   
    border-radius: 25px;
    margin-left: 300px;
}
div2{
    background-blend-mode: color;
   
}
